@media(min-width: 1440px){
    .container{
        width: 350px;
        height: 596px;

        &__shadow{
            .main{
                width: 302px;
                height: 302px;
               img{
                width: 302px;
               }
            }
            &:hover>img{
                display: block;
            }
        }
    }
    
}